<h1>Hi {{vm.user.userName}}!</h1>
<p>You're logged in!!</p>

<div class="form-group" ng-if="vm.admin==false">
    <h3>Check Today's Weather:</h3>
    <div class="col-md-6 col-md-offset-3">
        <form name="form" ng-submit="vm.getWeather()" role="form">
            <div class="form-group" ng-class="{ 'has-error': form.city.$dirty && form.city.$error.required }">
                <label for="city">City name</label>
                <input type="text" name="city" id="city" class="form-control" ng-model="vm.city" required/>
                <span ng-show="form.city.$dirty && form.city.$error.required"
                      class="help-block">City name is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.country.$dirty && form.country.$error.required }">
                <label for="country">Country name</label>
                <input type="text" name="country" id="country" class="form-control" ng-model="vm.country" required/>
                <span ng-show="form.country.$dirty && form.country.$error.required" class="help-block">Country name is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Check
                    Weather
                </button>
            </div>
        </form>
    </div>
    <div class="form-group" ng-if="vm.dataLoading">
        <label>Current Temp is {{vm.temp}}</label>
        <p><label> Weather note: {{vm.note}}</label></p>
    </div>
</div>
<div class="form-group" ng-if="vm.admin==true">
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="note in vm.notes">
            <td>{{note.creationDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td>{{note.note}}</td>

        </tr>
        </tbody>
    </table>
    <div class="col-md-6 col-md-offset-3">
        <form name="noteForm" ng-submit="vm.saveNote()" role="form">
            <div class="form-group" ng-class="{ 'has-error': form.note.$dirty && form.note.$error.required }">
                <label for="note">Today's note</label>
                <input type="text" name="note" id="note" class="form-control" ng-model="vm.note" required/>
                <span ng-show="form.note.$dirty && form.note.$error.required" class="help-block">Note is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="noteForm.$invalid" class="btn btn-primary">Save Note</button>
            </div>
        </form>
    </div>
    <div class="col-lg-offset-2 col-lg-8">
        <h3>Predefined weather notes</h3>
        <table class="table">
            <thead>
            <tr>
                <th>From Temperature</th>
                <th>To Temperature</th>
                <th>Note</th>
                <th style="width: 90px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="default in vm.defaultNotes">
                <td>{{default.fromTemp}}</td>
                <td>{{default.toTemp}}</td>
                <td>{{default.note}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="vm.setDefaultAsTodayNote(default.note)">Set as today's
                        note
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>